services:
  kuryesistemibackend:
    image: kuryesistemibackend
    build:
      context: backend
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - 3000:3000
